<ion-side-menus enable-menu-with-back-views="false">

	<!-- Center content -->
	<ion-side-menu-content edge-drag-threshold="true" drag-content="true">
		<ion-nav-view name="content"></ion-nav-view>
	</ion-side-menu-content>

	<!-- Left menu -->
	<ion-side-menu side="left" expose-aside-when="large">
		<div class="bar bar-header bar-calm">
			<h1 class="title">Menu</h1>
		</div>
		<ion-content class="has-header" has-bouncing="false">
			<a menu-close href="javascript:void();" class="item">Home</a>
		</ion-content>

	</ion-side-menu>


</ion-side-menus>