<ion-view>
	<div ng-switch="mode">
		<div class="bar bar-header {{list.color ? 'bar-'+list.color : ''}} animate" ng-switch-when="normal">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
			<div class="h1 title">{{title()}}</div>
			<div class="buttons">
				<button class="button button-icon icon plus-icon" ng-click="showModal()"></button>
				<button class="button button-icon icon more-icon" ng-click="showPopover($event)"></button>
			</div>

		</div>
		<div class="bar bar-header animate" ng-switch-when="edit">
			<button class="button button-icon icon back-icon" ng-click="stopEdit()"></button>
			<div class="h1 title">{{title()}}</div>
			<div class="buttons">
				<button class="button button-icon icon delete-icon" ng-click="deleteSelectedItems()"></button>
				<button class="button button-icon icon check-icon" ng-click="completeSelectedItems()"></button>
			</div>
		</div>
		<ion-content class="has-header" has-bouncing="false">
			<ion-list type="card" can-swipe="true" show-delete="mode === 'edit'">
				<div class="item item-divider">Recent Items</div>
				<ion-item ng-repeat="item in recentItems" on-hold="onHold(item)" class="ng-class:{'selected':mode === 'edit'  && isSelected(item)};">
					{{item.name}}
					<span class="item-note">
								P{{item.priority}}
					</span>
					<ion-option-button class="button button-icon icon delete-icon" ng-click="deleteItem(item,$index)"></ion-option-button>
					<ion-option-button class="button button-icon icon check-icon" ng-click="completeItem(item,$index)"></ion-option-button>
					<ion-delete-button class="select-item-icon" ng-click="selectItem(item)">
				</ion-item>
				<div class="item item-body" ng-if="!recentItems || recentItems.length==0">
					You should start adding items..
				</div>
			</ion-list>
			<ion-list type="card" ng-hide="mode==='edit'">
				<div class="item item-divider">Completed Items</div>
				<ion-item ng-repeat="item in completedItems">
					<span style="text-decoration: line-through;">{{item.name}}</span>
				</ion-item>
				<div class="item item-body" ng-if="!completedItems || completedItems.length==0">
					You should start complete some items..
				</div>
			</ion-list>
		</ion-content>
</ion-view>